@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

main {
  height: 500vh;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
}

@layer components {
  .navtab {
    @apply bg-transparent;
    @apply px-6;
    @apply py-2;
    @apply lg:py-px;
    @apply sm:px-10;
    @apply text-white;
    @apply text-3xl;
  }

  .burger-bar {
    width: 35px;
    height: 5px;
    margin: 3px 0;
    @apply bg-white;
    transition: all 0.3s ease-in-out;
  }

  /* #burger:hover #x-1 {
    transform: rotate(45deg) translate(7px, 8px);
  }
  #burger:hover #x-2 {
    transform: rotate(-45deg);
  }
  #burger:hover #x-none {
    opacity: 0;
  } */
}
