@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

main {
  height: 500vh;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
}

@layer components {
  .navtab {
    @apply bg-transparent;
    @apply px-10;
    @apply text-white;
    @apply text-2xl;
  }

  .burger-bar {
    width: 35px;
    height: 5px;
    margin: 3px 0;
    @apply bg-white;
  }
}
