@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-color: #252525;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
}

body {
  justify-content: center;
  align-items: center;
}

canvas {
  transition: all 0.8s;
  z-index: 1;
}

main {
  height: 500vh;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
}

@layer components {
  .navtab {
    @apply bg-transparent;
    @apply px-6;
    @apply py-2;
    @apply lg:py-px;
    @apply sm:px-10;
    @apply text-white;
    @apply text-3xl;
  }

  .burger-bar {
    width: 35px;
    height: 5px;
    margin: 3px 0;
    @apply bg-white;
    transition: all 0.3s ease-in-out;
  }
}
.dot-flashing {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--base-color);
  color: var(--base-color);
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}

.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--base-color);
  color: var(--base-color);
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--base-color);
  color: var(--base-color);
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #252525;
  }
  50%,
  100% {
    background-color: #bbbbbb;
  }
}
